/* RESET */

html, body {
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}



/*-------------------------------------
 UNIVERSAL / MENU & WRAPPER & BUTTON --
-------------------------------------*/

.visually-hidden {
    display: none;
}

.wrapper {
    max-width: 80%;
    margin: 0 auto;
}

.menu {
    width: 100%;
    background: white;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
    z-index: 99;
    position: fixed;
    left: 0;
    top: 0;
}

.main-nav {
    height: 10vh;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
}
.menu-logo-cnt {
    flex-basis: 50%;
    display: flex;
    align-items: center;
}
.menu-logo {
    width: 125px;

}
.nav-list {
    flex-basis: 50%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    list-style-type: none;
    font-family: 'Raleway';
    text-transform: uppercase;
}
.nav-list li {
    width: 155px;
    height: 10vh;
    line-height: 10vh;
    text-align: center;
    position: relative;

}

.nav-list li:after {
    content: '';
    width: 100%;
    position: absolute;
    height: 0;
    top: 0;
    left: 0;
    z-index: 0;
    background: linear-gradient(to top, #A5A8E0 0%, #83CAE3 100%);
    transition: all .3s ease;
    -webkit-transition: all .3s ease;

}
.nav-list li:hover:after {
    height: 10vh;
}
.nav-list li:hover a {
    color: white;
}

.nav-list a {
    text-decoration: none;
    color: inherit;
    display: block;
    position: absolute;
    transition: all .2s ease;
    -webkit-transition: all .3s ease;
    width: 155px;
    z-index: 3;
}

.btn {
    font-family: 'Arvo';
    width: 185px;
    margin: 0 auto;
    text-transform: uppercase;
    font-weight: 400;
    color: black;
    padding: 15px;
    border: none;
    background: #E7E7F3;
    cursor: pointer;
    font-size: 12px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    transition: all .2s ease;
    text-align: center;
    text-decoration: none;
}
.btn:hover {
    box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.2);
}
.btn:focus {
    outline: none;
}
.btn:active {
    outline: none;
    transform: scale(1.05);
}

/* ----------------------------------
------------ MOBILE MENU ------------
-----------------------------------*/

.mobile-nav {
    display: none;
    position: relative;
}

.nav-list-mobile {
    position: absolute;
    display: none;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    list-style-type: none;
    font-family: 'Raleway';
    text-transform: uppercase;
    top: 10vh;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 90vh;
    background: linear-gradient(to top, rgba(231,231,243,0.99) 0%,rgba(244,244,244,0.96) 100%);
    font-size: 1.1rem;
}

.nav-list-mobile li:nth-child(1) {
    border-top: 1px rgb(198,200,238) solid;
}
.nav-list-mobile li:not(.mobile-logo) {
    width: 100%;
    height: 12vh;
    line-height: 12vh;
    border-bottom: 1px rgb(198,200,238) solid;
}
.nav-list-mobile li a {
    text-decoration: none;
    color: inherit;
    display: block;
}
.mobile-logo {
    margin-top: 50px;
}
.mobile-logo img {
    width: 200px;
}




/* ----- BURGER ICON STYLING/ANIMATION ---- */

.burger-ico {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#nav-icon3 {
    width: 30px;
    height: 25px;
    align-self: center;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}
#nav-icon3 span {
    display: block;
    position: absolute;
    height: 3.5px;
    width: 100%;
    background: black;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}
#nav-icon3 span:nth-child(1) {
    top: 0px;
}

#nav-icon3 span:nth-child(2),#nav-icon3 span:nth-child(3) {
    top: 10px;
}

#nav-icon3 span:nth-child(4) {
    top: 20px;
}

#nav-icon3.open span:nth-child(1) {
    top: 10px;
    width: 0%;
    left: 50%;
}

#nav-icon3.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

#nav-icon3.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

#nav-icon3.open span:nth-child(4) {
    top: 12px;
    width: 0%;
    left: 50%;
}



/* ----------------------------------
------------ HOME HEADER ------------
-----------------------------------*/

.header-home {
    height: 100vh;
    position: relative;
}

.parallax-home {
    height: 100%;
    width: 100%;
    position: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    transition: background .6s ease;
    -moz-transition: background .6s ease;
    -webkit-transition: background .6s ease;
    -o-transition: background .6s ease;
}



/* -- HOME / HEAD TITLE -- */
.header-title {
    width: 100%;
    text-align: center;
    position: fixed;
    padding-top: 10%;
}
.header-logo h1 {
    font-size: 0;
}
.header-logo img {
    width: 475px;
}
.header-logo h2 {
    font-family: 'Raleway';
    font-weight: 200;
    font-style: italic;
    color: white;
    margin-top: -4.5vh;
    font-size: 24px;
}


.header-description {
    margin: 0 auto;
    margin-top: 50px;
    font-family: 'Raleway';
    font-weight: 200;
    font-style: italic;
    color: white;
    display: flex;
    width: 55%;
    justify-content:space-around;
}
.header-description span {
    font-size: 1.25rem;
}

/* -- HOME / HEAD SLIDE NAV -- */

.slider-nav {
    width: 100%;
    height: 100vh;
    display: flex;
    position: relative;
    justify-content: space-between;
}
.slideprev-cnt {
    left: 0;
    top: 0;
    flex-basis: 50%;


}
.slideprev-bg {
    background: linear-gradient(to right, rgba(0,0,0,0.55) 0%, rgba(0,0,0,0) 100%);
    width: 100%;
    height: 100%;
    display: none;
}
.slidenext-cnt {
    right: 0;
    top: 0;
    flex-basis: 50%;

}
.slidenext-bg {
    background: linear-gradient(to left, rgba(0,0,0,0.55) 0%, rgba(0,0,0,0) 100%);
    width: 100%;
    height: 100%;
    display: none;
}
.slide-link {
    display: block;
    width: 20%;
    height: 100vh;
    top: 0;
    position: fixed;
}

.prev-link {
    left: 0;
}
.prev-link span {
    left: 25%;
}
.next-link {
    right: 0;
}
.next-link span {
    right: 25%;
}
.slide-arrow {
    font-size: 2em;
    color: white;
    opacity: 0.3;
    position: absolute;
    top: 45%;
    transition: all .4s ease;
}

.slide-link:hover .slide-arrow {
    opacity: 1;
}
.slide-arrow:focus, .slide-arrow:active {
    color: #A5A8E0;
}


/* -- HOME / HEAD SCROLL ICON -- */
.scroll-cnt {
    position: fixed;
    width: 100%;
    bottom: 25px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.mouse-cnt {
    align-self: center;

}
.mouse-icon {
    width: 25px;
    height: 41px;
    border: 2px white solid;
    border-radius: 25px;
    position: relative;
}
.mousewheel {
    display: block;
    position: absolute;
    width: 3px;
    height: 5px;
    background: white;
    border-radius: 50px;
    margin-left: 9px;
    margin-top: 8px;
    animation: mousewheel 2.5s ease infinite;
    opacity: 0.7;
}

@-webkit-keyframes mousewheel {
    25% {margin-top: 15px; opacity: 0;}
    50% {margin-top: 8px; opacity: 0;}

}
@keyframes mousewheel {
    25% {margin-top: 15px; opacity: 0;}
    50% {margin-top: 8px; opacity: 0;}

}

.arrow-cnt {
    align-self: center;
}
.arrow-cnt a {
    text-decoration: none;
    display: block;
}
.arrow-cnt span {
    font-size: 2em;
    display: block;
    color: #A5A8E0;
}





/* ----------------------------------
--- CLOTHES + COLLECTIONS HEADER ---_
-----------------------------------*/

.parallax {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;

}
.clothes-hero {
    background-image: url(../imgs/clothesimgs/clothesheader_blr.jpeg);
}

/* SITE TITLE */
.site-title {
    margin-top: -24%;
    width: 100%;
    text-align: center;
    position: fixed;
}
.site-title h2 {
    font-family: 'Arvo';
    color: white;
    font-weight: 400;
    font-size: 48px;
    text-transform: uppercase;
    text-shadow: 1px 2px 6px rgba(0,0,0,0.5);
}


/* -- COLLECTIONS HEADER -- */

.collection-hero {
    background-image: url(../imgs/collections/collectionsheader.jpg);
}


/* --------------------------------------
---------------- MAIN -------------------
---------------------------------------*/

/* ----------- HOME / MAIN ----------- */


#main {
    background: white;
    position: relative;
    width: 100%;
}

.home-menu {
    display: none;
}

.section-1 {
    padding-top: 10em;
}
.welcome-cnt {
    z-index: 3;
}
.welcome-title {
    width: 100%;
    text-align: center;

}
.welcome-title h2 {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 45px;
    font-family: 'Arvo';
}
.welcome-content {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin-top: 135px;
}
.welcome-txt {
    font-family: 'Raleway';
    font-weight: 400;
    line-height: 26px;
    flex-basis: 50%;
}
.welcome-img {
    flex-basis: 50%;
    text-align: right;
}
.welcome-img img {
    width: 450px;
}

.skew-cnt-home {
    height: 150px;
    width: 100%;
    position: relative;
    background: white;
    margin-top: -25px;
    z-index: 0;
}
.skew-cnt-home:after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background: inherit;
    box-shadow: 0 7px 10px rgba(0,0,0,0.15);
    z-index: 1;
    bottom: 0;
    transform-origin: right bottom;
    transform: skewY(-5deg);
}

/* --------- HOME NEWSLETTER ------- */
.newsletter-section {
    padding-bottom: 200px;
    background: linear-gradient(135deg, #E8E8E8 0%, #E7E7F3 100%);
}
.newsletter-cnt {
    padding-top: 15%;
}
.newsletter-title {
    text-align: center;
}
.newsletter-title h2 {
    font-family: 'Raleway';
    font-weight: 500;
    font-size: 22px;
}
#myform {
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    font-family: 'Raleway';
}
.radiobtn-cnt {
    display: flex;
    justify-content: space-between;
    margin-top: 85px;
}
.radiobtns {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.title-drpdwn {
    background: white;
    border-radius: 0;
    border: none;
    height: 25px;
    font-family: 'Raleway';
    width: 100px;
    padding-left: 5px;
}
.title-drpdwn:focus {
    outline: none;
}
.inner-form-cnt {
    width: 100%;
    position: relative;

}
.txtfield {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 35px;

}
.txtfield input {
    width: 65%;
    padding: 7px;
    border: 0;
    border-bottom: 2px solid #27A5D0;
    box-shadow: none;
}
.txtfield input:focus {
    outline: none;
}
.checkbox-cnt {
    display: flex;
    flex-direction: column;
    margin-top: 55px;
}

.news-check-cnt, .agb-check-cnt {
    display: flex;
}
.checkbox-cnt label {
    margin-left: 15px;
    font-size: 0.85em;
}
.form-btn {
    width: 135px;
    margin: 0 auto;
    margin-top: 50px;
    text-transform: uppercase;
    font-weight: 500;
    color: #27A5D0;
    padding: 12px;
    border: 1px solid #27A5D0;
    background: white;
    cursor: pointer;
    font-size: 13px;
    transition: all .2s ease;
}
.form-btn:focus {
    outline: none;
}
.form-btn:hover {
    transform: scale(1.05);
}

.error {
    color: tomato;
}
.error-cnt {
    margin-top: 10px;
}

.txtfield .errormsg {
    position: absolute;
    font-size: 0.7em;
    color: tomato;
    left: 0;
    top: 30px;
}
.checkbox-cnt .errormsg, .radiobtn-cnt .errormsg {
    position: absolute;
    font-size: 0.7em;
    color: tomato;
    left: 0;
    top: 20px;
}

.icon-check {
    color: green;
    font-size: 1.1em;
    left: 0;
    top: 24px;
    position: absolute;
}




/* ------------ MAIN / CLOTHES + COLLECTIONS ------------ */

.main-cnt {
    background: white;
    margin-top: -185px;
    padding-bottom: 125px;
    position: relative;
    width: 100%;
}

.skew-cnt {
    height: 200px;
    width: 100%;
    position: relative;
    background: white;
    margin-top: 40%;
    transform: rotate(180deg);
}
.skew-cnt:after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background: inherit;
    z-index: -1;
    bottom: 0;
    box-shadow: 0 6px 10px rgba(0,0,0,0.15);
    transform-origin: right bottom;
    transform: skewY(-5deg);
}



/* CSS FOR CLOTHES & COLLECTIONS ARTICLES */
.article-cnt {
    padding-bottom: 75px;
}

.article-item {
    display: flex;
    justify-content: center;
    position: relative;
}
.article-item:not(:nth-child(2)) {
    margin-top: 175px;
}


.article-img-cnt {
    flex-basis: 50%;
    position: relative;
}

.garment-img {
    width: 100%;
}
.article-txt {
    flex-basis: 50%;
    position: relative;
}
.colorline {
    width: 200px;
    height: 3px;
    background: linear-gradient(to right, #A5A8E0 0%, #C6C8EE 100%);
    box-shadow: 0 3px 6px rgba(0,0,0,0.15);

}
.article-txt p {
    font-family: 'Raleway';
    font-weight: 300;
    margin-left: 20px;
    line-height: 22px;
}
.clothes-txt p {
    padding-top: 10px;
    font-size: 1em;
    line-height: 24px;
}
.article-txt h2 {
    font-family: 'Arvo';
    font-weight: 400;
    text-transform: uppercase;
    color: #A5A8E0;
    font-size: 42px;
    margin-top: 3px;
}


.right {
    flex-direction: row-reverse;
    text-align: right;

}

.right .article-txt p {
    margin-right: 20px;
    margin-left: 0;
}

.right .colorline {
    position: absolute;
    right: 0;
    top: 0;
    background: linear-gradient(to left, #A5A8E0 0%, #C6C8EE 100%);
}

.load-more-cnt {
    width: 65%;
    margin: 0 auto;
    margin-top: 135px;
    margin-bottom: 85px;
    display: flex;
    align-items: center;
    justify-content: center;


}
.load-more-cnt span {
    font-family: 'Arvo';
    font-size: 2em;
}






/* ------------ COLLECTION LIGHTBOX GALLERY ----------- */

.collection-gallery {
    display: flex;
    flex-flow: row wrap;
    list-style-type: none;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}
.gallery-item {
    flex-basis: calc(33.333% - 5px);
}
.gallery-item:nth-child(n+4) {
    padding-top: 5px;
}
.gallery-item img {
    width: 100%;
    display: block;
}

.collection-p {
    max-width: 75%;
}
.right .collection-p {
    right: 0;
    position: absolute;
}

.gallery-box {
    position: fixed;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.8);
    color: white;
    transition: ease-in-out opacity 1s;
    display: none;
    z-index: 100;

}

.gallery-exit {
    width: 100%;
    text-align: right;
    margin-top: 25px;
    position: absolute;
}
.exit-txt {
    font-size: 1.5em;
    cursor: pointer;
    margin-right: 2em;
    color: white;
    font-family: 'Raleway';
    text-transform: uppercase;
}

.gallery-img-cnt {
    width: 100%;
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 3.5em;
}

.gallery-img-cnt img {
    max-width: 85%;
    max-height: 85%;
    box-shadow: 0px 0px 24px rgba(0,0,0,0.6);
}
.gallery-nav {
    width: 100%;
    margin: 0 auto;
    padding-top: 35px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.gallery-nav .collection-gallery {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    width: 75%;
}
.gallery-nav .collection-gallery .gallery-item {
    flex-basis: 200px;
    display: block;
    padding-top: 0;
}
.gallery-nav .collection-gallery .gallery-item:not(:nth-child(1)) {
    margin-left: 15px;
}

.gallery-nav img {
    width: 100%;

}
.imagetitle {
    font-family: 'Raleway';
    margin-top: 10px;
}
.gallery-nav span {
    font-size: 2em;
    cursor: pointer;

}

.gallery-nav .icon-arrow_forward {
    margin-left: 0;
}
.selected {
    border: 2px white solid;
}


/* ------------- FOOTER --------------- */
.footer {
    background: #FAFAFA;
    z-index: 5;
    position: absolute;
    width: 100%;
}
/* scnd - FOR CLOTHES & COLLECTIONS */
.footer-scnd {
    background: #FAFAFA;
    z-index: 5;
}

.footer-cnt {
    display: flex;
    align-items: center;
    height: 150px;
    font-family: 'Raleway';
}
.footer-cnt a {
    text-decoration: none;
    color: inherit;
}

.footer-left {
    display: flex;
    flex-direction: column;
    flex-basis: 25%;
}
.social-icons {
    padding-left: 0;
    margin: 0;
    margin-top: 30px;
    list-style-type: none;
    display: flex;
}
.social-icons li:not(:nth-child(3)) {
    margin-right: 40px;
}
.footer-left .icon {
    font-size: 20px;
    transition: all .2s ease;
}

.footer-left .icon:hover {
    color: #A5A8E0;
}


.footer-center {
    flex-basis: 75%;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 14px;
}
.footer-center img {
    width: 175px;
}


.footer-right {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    flex-basis: 25%;
}
.footer-right .icon {
    font-size: 20px;
    margin-right: 5px;
}

.footer-map, .footer-mail {
    display: flex;
    align-self: flex-end;
    align-items: center;
    transition: all .2s ease;
}
.footer-map:hover {
    color: #A5A8E0;
}

.footer-mail {
    margin-top: 30px;
}
.footer-mail:hover {
    color: #A5A8E0;
}





/*-------------------------------------
----------- MEDIA QUERIES -------------
-------------------------------------*/

@media screen and (min-width: 1800px) {

    .header-title {
        padding-top: 15%;
    }
    .header-logo img {
        width: 600px;
    }
    .header-logo h2 {
        margin-top: -3.5vh;
        font-size: 2.3em;
    }
    .header-description {
        width: 60%;
        font-size: 1.3em;
    }
    .header-description span {
        font-size: 1.6em;
        margin-top: 65px;
    }
    .slide-arrow {
        font-size: 3.5em;
    }

    .scroll-cnt {
        bottom: 55px;
    }
    .mouse-icon {
        transform: scale(1.7);
    }

    .menu-logo {
        width: 200px;
    }
    .nav-list  {
        flex-basis: 60%;
    }
    .nav-list a {
        font-size: 1.5em;
        width: 200px;
    }
    .nav-list li {
        width: 200px;
    }
    .welcome-cnt {
        margin-top: 12em;
    }
    .welcome-title h2 {
        font-size: 4em;
    }
    .welcome-txt {
        flex-basis: 65%;
    }
    .welcome-txt p {
        font-size: 1.55em;
        line-height: 1.75em;
    }
    .welcome-img img {
        width: 80%;
    }
    .skew-cnt-home {
        height: 200px;
    }
    .newsletter-title h2 {
        font-size: 1.8em;
    }

    .btn {
        width: 230px;
        padding: 25px;
        font-size: 0.9em;
    }

    #myform {
        font-size: 1.35em;
    }
    .form-btn {
        width: 175px;
        font-size: 0.8em;
    }

    .article-txt h2 {
        font-size: 4em;
    }

    .article-txt p {
        font-size: 1.7em;
        line-height: 1.7em;
        padding-top: 0.7em;
    }


    .footer {
        font-size: 24px;
    }
    .footer-scnd {
        font-size: 24px;
    }
    .footer-center span {
        font-size: 20px;
    }
    .footer-right {
        font-size: 24px;
    }
    .footer-right .icon {
        font-size: 28px;
        margin-right: 8px;
    }



}





@media screen and (max-width: 1050px) {
    .header-logo img {
        width: 400px;
    }
    .site-title {
        margin-top: -30%;
    }
    .skew-cnt {
        margin-top: 55%;
    }
    .header-description {
        width: 70%;
    }
    .header-description span {
        font-size: 1em;
    }
    .desktop-nav .nav-list li {
        width: 125px;
    }
    .desktop-nav .nav-list a {
        font-size: 1em;
        width: 125px;
    }
    .desktop-nav .menu-logo {
        width: 115px;
    }


    .welcome-title h2 {
        font-size: 38px;
    }
    .welcome-txt {
        font-size: 0.85rem;
    }
    .welcome-img {
        flex-basis: 35%;
    }
    .welcome-img img {
        width: 285px;
    }

    #myform {
        width: 65%;
    }
    .newsletter-title h2 {
        font-size: 19px;
    }
    .newsletter {
        font-size: 0.85rem;
    }

    .load-more-cnt {
        width: 85%;
    }
    .form-btn {
        width: 100px;
        font-size: 0.7rem;

    }


    /*.gallery-item {
        flex-basis: calc(33.333% - 1px);

    }*/

    .article-title h2 {
        font-size: 1.9em;
    }
    .article-txt p {
        font-size: 0.85em;
        line-height: 18px;
    }
    .clothes-txt p {
        font-size: 0.85em;
        padding-top: 0;
        line-height: 19px;
    }




    .gallery-nav .collection-gallery {
        width: 100%;
    }


    .footer span {
        font-size: 0.7rem;
    }

    .footer-left .icon {
        font-size: 16px;
    }
    footer-left .icon:not(:nth-child(1)) {
        margin-left: -5px;
    }
    .footer-right .icon {
        font-size: 16px;
    }

}

@media screen and (max-width: 800px) {

    .desktop-nav {
        display: none;
    }
    .mobile-nav {
        display: block;
    }
    .icon-menu {
        font-size: 35px;
        text-decoration: none;
        color: black;
        cursor: pointer;
    }
    .welcome-content {
        flex-direction: column;
        margin-top: 85px;
    }
    .site-title h2 {
        font-size: 2.5em;
        margin-top: -5%;
    }
    .skew-cnt {
        margin-top: 65%;
    }

    #myform {
        width: 75%;
    }

    .colorline {
        width: 185px;
    }


    .load-more-cnt {
        width: 100%;
    }
    .btn {
        width: 150px;
        font-size: 0.65em;
    }


    .article-img-cnt {
        flex-basis: 100%;
    }
    .article-item {
        display: block;

    }
    .article-item:not(:nth-child(2)) {
        margin-top: 185px;
    }
    .gallery-item {
        flex-basis: 100%;
    }
    .gallery-item:not(:first-child) {
        display: none;
    }
    .colorline {
        position: absolute;
        top: 100%;
    }

    .article-title {
        margin-top: 15px;
        position: relative;
    }
    .article-title h2 {
        font-size: 2em;
    }
    .article-txt {
        margin: auto;
        width: 80%;
    }
    .article-txt p {
        margin-left: 0;
        max-width: 100%;
        font-size: 1em;
        line-height: 20px;
    }

    .right .article-txt p {
        margin-right: 0;
    }
    .right .collection-p {
        position: relative;
    }
    .right .colorline {
        position: absolute;
        top: 100%;
    }


    .gallery-nav {
        padding-top: 0;
    }

    .imagetitle {
        font-size: 0.7em;
    }





    .footer-cnt {
        height: 275px;
        flex-direction: column;
        padding-top: 15px;
        justify-content: space-around;
    }

    .footer-left {
        align-items: center;


    }
    .social-icons {
        margin-top: 15px;
    }
    .footer-scnd .icon {
        width: 19px;
    }
    .footer-center {
        order: 3;
        flex-basis: 25%;
        justify-content: center;

    }
    .footer-center img {
        display: none;
    }
    .footer-right {
        justify-content:center;

    }
    .footer-map {
        align-self: center;
        order: 2;
        margin-top: 7px;
    }
    .footer-mail {
        margin-top: 0;
    }


}


@media screen and (max-width: 650px) {

    .section-1 {
        padding-top: 6em;
    }
    .skew-cnt-home {
        height: 100px;
    }
    .header-title {
        padding-top: 10vh;
    }
    .header-logo img {
        width: 285px;
    }
    .header-logo h2 {
        font-size: 1.2rem;
        margin-top: -3vh;
    }
    .header-description {
        width: 90%;
        font-size: 0.65rem;
        flex-direction: column;

    }
    .header-description span {
        margin-top: 25px;
        font-size: 0.9rem;
    }


    .welcome-title h2 {
        font-size: 1.8rem;
    }
    .welcome-txt p {
        font-size: 0.8rem;
        line-height: 20px;
    }

    .site-title h2 {
        margin-top: -20%;
    }
    .skew-cnt {
        margin-top: 85%;
    }

    #myform {
        width: 100%;
        font-size: 0.8em;
    }

    .newsletter-title h2 {
        font-size: 17px;
    }
    .newsletter {
        font-size: 0.7rem;
    }

    .article-txt h2 {
        font-size: 1.7em;
    }
    .article-txt p {
        font-size: 0.85em;
        line-height: 18px;
    }


    /***/

    .clothes-txt {
        width: 100%;
    }




    .zoom-cnt {
        display: block;
    }
    .gallery-nav .collection-gallery {
        width: 100%;
        flex-wrap: wrap;
    }
    .gallery-nav .collection-gallery .gallery-item {
        flex-basis: calc(33.33% - 5px);
        display: block;
    }
    .gallery-nav .collection-gallery .gallery-item:not(:nth-child(1)) {
        margin-left: 5px;
    }



}

