@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?u6hjmo');
  src:  url('fonts/icomoon.eot?u6hjmo#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?u6hjmo') format('truetype'),
    url('fonts/icomoon.woff?u6hjmo') format('woff'),
    url('fonts/icomoon.svg?u6hjmo#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zoomin:before {
  content: "\e907";
}
.icon-location:before {
  content: "\e947";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-behance:before {
  content: "\eaa8";
}
.icon-mail3:before {
  content: "\e903";
}
.icon-close:before {
  content: "\e900";
}
.icon-arrow_forward:before {
  content: "\e902";
}
.icon-arrow_back:before {
  content: "\e904";
}
.icon-check:before {
  content: "\e90b";
}
.icon-zoom_out_map:before {
  content: "\e901";
}
.icon-close:before {
  content: "\e900";
}
.icon-arrow_forward:before {
  content: "\e902";
}
.icon-arrow_back:before {
  content: "\e904";
}
.icon-check:before {
  content: "\e90b";
}
.icon-arrow-right:before {
  content: "\e905";
}
.icon-arrow-left:before {
  content: "\e906";
}

